@import "../shared/color.scss";

.sign-up {
  width: 100%;
  height: 100vh;
}

.title {
  color: $blue;
  margin-left: 70px;
  margin-top: 65px;
}

.left-section {
  width: 45%;
  background-color: $light-blue;
  .left-description {
    margin-left: 150px;
    margin-top: 50px;
    h1 {
      margin-bottom: 5px;
    }
  }
  img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.right-section {
  width: 50%;

  .form-container {
    margin-top: 190px;
  }
  form {
    width: 60%;
    label {
      margin-bottom: 10px;
    }
    .terms {
      font-size: 20px;
      margin-left: 5px;
    }
    input[type="email"],
    input[type="password"],
    input[type="name"] {
      width: 87%;
      padding: 25px;
      border: 3px solid $blue;
    }

    .checkbox {
      margin-top: 12px;
      transform: scale(1.75);
    }

    label:first-child {
      margin-top: 5%;
    }
    button {
      margin: 0 auto;
      text-align: center;
      padding: 25px;
      background: $blue !important;
      border-radius: 7px;
      font-size: 25px;
      width: 88%;
    }
    a:link,
    a:visited {
      text-decoration: underline;
      color: inherit;
    }
    p {
      text-align: center;
      margin-right: 50px;
    }
  }
}




