.sign-up {
  width: 100%;
  height: 100vh;
}
.background {
  background-color: #333;
  width: 40%;
  height: 100vh;
}


form {
  width: 60%;
  font-size: 150%;
  input[type="email"],
  input[type="password"] {
    width: 50%;
    padding: 10px;
  }

  a:link, a:visited {
    text-decoration: none;
    color: inherit;
    border: 0;
    transition: 0.2s border;
  }

  a:active, a:hover {
    color: blue;
  }
  button {
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }
  p {
    width: 50%;
    text-align: center;
  }


}
