@import "../shared/color.scss";
.hero-section {
  background-color: $light-blue;
  padding-bottom: 90px;
}

nav {
  background-color: $blue;
  color: $white;
  padding: 14px;
  h2:first-child {
    margin-left: 16px;
  }
  h2:last-child {
    margin-right: 16px;
  }
}

header {
  div:first-child {
    margin-top: 95px;
  }
  .hero-text {
    margin-left: 70px;
    h1 {
      margin-bottom: 20px;
    }
    h2 {
      margin-bottom: 35px;
    }
    button {
      background-color: $blue !important;
      width: 50%;
      color: $white;
      font-size: 25px;
      font-weight: 500;
      border-radius: 7px;
      padding: 10px;
    }
    margin-right: 50px;
  }

  img {
    max-width: 100%;
    max-height: 90%;
  }
}

section {
  margin-top: 130px;
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .numbers {
    font-size: 70px;
    line-height: 105px;
    font-weight: 500;
  }
  .reasons {
    background-color: $white;
    width: 80%;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  }
  .line-box {
    margin-top: 30px;
    p {
      margin-right: 50px;
    }
    border-bottom:1px dashed $dark-grey;
  }
  .reason1 {
    padding-top: 30px;
  }
  .reason1-text {
    padding-bottom: 30px;
  }
  .reason3 {
    border-bottom: 0;
    padding-bottom: 30px;
  }
  .reason2-img {
    margin-left: 80px;
  }
  .reason2 {
    margin-left: 300px;
  }
}
