.jumbotron {
  height: 75vh;
}

p {
  font-size: 120%;
  line-height: 145%;
}

.hero-text {
  margin-left: 10%;
}

header .dog-large {
  margin-left: 10%;
}

.dot-large {
  width: 500px;
  height: 500px;
  background-color: #333;
  border-radius: 50%;
}


.dot-small {
  width: 300px;
  height: 300px;
  background-color: #333;
  border-radius: 50%;
}

button {
  width: 50%;
}

.section-reasons h2 {
  text-align: center;
}

.text-box {
  width: 200px;
}




