@import "../../shared/color.scss";
.sidenav {
  width: 100%;
  margin-top: 40px;
  height: 100%;
  img {
    width: 50%;
    margin: 0 auto;
  }
  ul {
    margin: 0 auto;
    li {
      margin-top: 20px;
      list-style: none;
    }
  }

  .wrapper {
    margin-top: auto ;
    margin-left: 30px;
  }
  .logout {
    img {
      float: left;
      height: 50px;
      width: 50px;
      margin-left: 0;
      margin-right: 0;
    }
    a {
      margin-top: 10px;
      margin-left: 12px;
      cursor: pointer;
    }
  }
  .terms {
    margin-top: 20px;
    text-align: center;
  }
}
