<div class="d-flex flex-column sidenav">
  <img src="../../../assets/Avatar.png" alt="Avatar" />
  <ul>
    <li><h2>Dashboard</h2></li>
    <li><h2>History</h2></li>
    <li><h2>Account</h2></li>
  </ul>

  <div class="vertical-gutter">&nbsp;</div>
  <div class="wrapper">
    <div class="logout d-flex justify-content-center align-item-center">
      <img src="../../../assets/Logout.svg" alt="Logout button" />
      <a (click)="logout()">Log out</a>
    </div>
    <p class="terms">Term of use</p>
  </div>
</div>
