@import "../../shared/color.scss";
.sidenav {
  width: 100%;
  margin-top: 40px;
  height: 100vh;
  img {
    width: 50%;
    margin: 0 auto;
  }
  ul {
    margin: 0 auto;
    li {
      margin-top: 20px;
      list-style: none;
    }

  }
  p {
    text-align: center;
    margin-top: auto;
    margin-bottom: 50px;
  }
}
