@import "../../shared/color.scss";
.sidenav {
  width: 100%;
  margin-top: 40px;
  height: 100%;
  img {
    width: 50%;
    margin: 0 auto;
  }
  ul {
    text-align: center;
    width: 100%;
    padding: 0;
    .on {
      width: 120%;
      padding: 20px;
      background-color: $blue;
      color: $white;
    }
    .off {
      width: 120%;
      padding: 20px;
      background-color: $white;
      color: $light-grey;
    }
    li {
      width: 100%;
      margin-bottom: 15px;
      color: $light-grey;
      background-color: $white;
      text-align:middle;
      list-style:none;
    }
    li:first-child {
      margin-top: 40px;
    }

  }

  .wrapper {
    margin-top: auto ;
    margin-left: 30px;
  }
  .logout {
    img {
      float: left;
      height: 50px;
      width: 50px;
      margin-left: 0;
      margin-right: 0;
    }
    a {
      margin-top: 10px;
      margin-left: 12px;
      cursor: pointer;
    }
  }
  .terms {
    margin-top: 20px;
    text-align: center;
  }
}
