@import "../../shared/color.scss";

.left {
  width: 25%;
}

.right {
  width: 75%;
}

.white-box {
  width: 90%;
  margin: 0 auto;
  background-color: $white;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  margin-top: 40px;
}

.blue-background {
  background-color: $light-blue;
  width: 100%;
  height: 100vh;
}

.sidenav {
  width: 25%;
  height: 100vh;
  background-color: $white;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
}
.progress {
  height: 40px;
  font-size: 25px;
  width: calc(96% - 40px);
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  span {
    margin-top: 20px;
    margin-left: 10px;
  }
}
.process {
  h3 {
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;
  }

  .img-div {
    width: 100%;
    img {
      display: block;
      height: auto;
      width: 35%;
      margin: 0 auto;
      margin-bottom: 50px;
    }
    img:first-child {
      width:29%;
    }
    .process2{
      width: 40%;
    }

  }
}

.encrypted {
  position: absolute;
  top: 38%;
  left: 60%;
  transform: translate(-50%, -50%);
  background-color: none;
  height: auto;
  z-index: 2;
}
