<div class="d-flex justify-content-between">
  <app-sidenav class="sidenav left"></app-sidenav>

  <div class="blue-background right">
    <div class="loading">
      <div class="white-box">
        <div class="d-flex flex-column process">
          <h3>
            While the system is analysing your medical reports, we will show you
            the important stages of the process.
          </h3>
          <div class="progress">

            <div
              style="width: 50%"
              class="progress-bar"
              role="progressbar"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            >50%</div>

          </div>
          <div class="img-div">
            <img src="../../../assets/Process1.svg" alt="Process 1" />
            <img
              src="../../../assets/Process2.svg"
              alt="Process 2"
              class="process2"
            />
            <img src="../../../assets/Process3.svg" alt="Process 3" />
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/Popup.svg" alt="Picture of key lock" class="encrypted">
  </div>
</div>
