<div class="d-flex justify-content-between">
  <app-sidenav class="sidenav left"></app-sidenav>

  <div class="blue-background right">
    <div class="loading">
      <div class="white-box">
        <div class="d-flex flex-column process">
          <h3>
            While the system is analysing your medical reports, we will show you
            the important stages of the process.
          </h3>
          <div class="progress">

            <div
              [ngStyle]="{'width': progressBarValue + '%'}"

              class="progress-bar progress-bar-animated"
              role="progressbar"
              aria-valuenow="30"
              aria-valuemin="0"
              aria-valuemax="100"
            >{{progressBarValue}}%</div>

          </div>
          <div class="img-div">
            <img [src]='pathPrefix + paths[0]' alt="Process 1" class="off"/>
            <img
              [src]='pathPrefix + paths[1]'
              alt="Process 2"
              class="process2"
            />
            <img [src] = 'pathPrefix + paths[2]' alt="Process 3" />
          </div>
        </div>
      </div>
    </div>
    <img src="../../../assets/Popup.svg" alt="Picture of key lock" class="encrypted">
  </div>
</div>
