<div class="d-flex justify-content-between">
  <app-sidenav class="left"></app-sidenav>
  <div class="d-flex flex-column main right">
    <div class="d-flex justify-content-between align-items-center summary-icon">
      <a id="back" (click)="route()"><img src="../../assets/LeftArrow.svg" alt="Left arrow"  />&nbsp;Back</a>

      <button class="btn btn-outline">
        Download PDF
        <img src="../../assets/Download.svg" />
      </button>
    </div>
    <div class="d-flex justify-content-around summary-header">
      <h2>Add Notes</h2>
    </div>
    <div class="white-box summary">
      <h3>Your Simplified Medical Text</h3>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices
        urna vitae ligula faucibus, et dapibus
      </h3>
      <ul class="summary-info">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
      </ul>
    </div>
    <div class="white-box notes">
      <h3>Notes</h3>
      <p>
        You can keep your personal notes here for future reference. <br />Only
        you can see the note content.
      </p>
      <textarea class="form-control"></textarea>
      <button class="btn btn-primary">Save</button>
    </div>
    <div class="break">&nbsp;</div>
  </div>
</div>
