<div class="d-flex justify-content-between">
  <app-sidenav class="left"></app-sidenav>
  <div class="d-flex flex-column main right">
    <div class="d-flex flex justify-content-around summary-header">
      <h3>
        Exam Date:<br />
        March 19, 2021
      </h3>
      <h3>
        Affilation:<br />
        Medical Center
      </h3>
      <h3>
        Referring Physician:<br />
        GunnarHeuser, M.D.
      </h3>
    </div>
    <div class="white-box save">
      <h3>Do you want to save this document?</h3>
      <p>
        This action will keep the document in StoreMed’s platform and give you
        easy access whenever you need it in the future.
      </p>
      <div class="d-flex justify-content-around button-group">
        <button class="btn btn-outline btn-lg">No, thanks</button>
      <button class="btn btn-primary btn-lg">Save</button>
      </div>

    </div>
    <div class="white-box summary">
      <h3>Summary of MRI of John Doe</h3>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ultrices
        urna vitae ligula faucibus, et dapibus
      </h3>
      <ul class="summary-info">
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
          ultrices urna vitae ligula faucibus, et dapibus
        </li>
      </ul>
    </div>
  </div>
</div>
