@import "../../shared/color.scss";
.main-dashboard {
  height: 100vh;
  .white-box {
    width: 90%;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    border-radius: 30px;
    .content {
      margin-left: 50px;
      margin-top: 50px;
    }
    .steps {
      margin-bottom: 50px;
    }
  }
  .upload {
    width: 90%;
    padding: 150px 0;
    h2 {
      margin-left: 15px;
    }
  }

  input[type="file"] {
    display: none;
  }

  .rectangle {
    padding: 20px;
    background-color: $light-blue;
    border: 2px dashed #2b5ac9;
  }
  .instruction-image {
    margin: 0 auto;
  }
}
