<div class="d-flex flex-column justify-content-around main-dashboard">
  <div class="white-box">
    <div class="content">
      <h2>Welcome to Store-Med, {{name}}!</h2>
      <p>Here's what you have to do...</p>
    </div>

    <div class="d-flex justify-content-around steps">
      <img src="../../../assets/Step1.svg" alt="Step 1" />
      <img src="../../../assets/Step2.svg" alt="Step 2" />
      <img src="../../../assets/Step3.svg" alt="Step 3" />
    </div>
  </div>
  <div class="white-box upload">
    <div class="d-flex justify-content-around align-items-center">
      <div class="instruction align-self-start">
        <h2>
          Upload your medical report
          and <br /> we will analyze it to extract the <br />
          main insights for you.
        </h2>
      </div>
      <input type="file" #file />
      <div class="rectangle">
        <a (click)="file.click()">
          <img
            src="../../../assets/UploadImage.svg"
            alt="Upload image"
            class="instruction-image"
          />
        </a>
      </div>
    </div>
  </div>
</div>
